.table-search-box{
    margin-left: 60vw;
    height:1vh ;
    width: 10vw;
    margin-bottom: 3vh;
}
.table-search-boxx{
    margin-left: 80vw;
    height:1vh ;
    width: 10vw;
    margin-bottom: 3vh;
}